.actions-center {
  width: 72px;
  height: 72px;
  border-radius: 100%;
  background: #fff;
  position: relative;
  display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
}
.actions-center:after {
  content: "";
  width: 43px;
  height: 43px;
  position: absolute;
  background-color: #E60000;
  border-radius: 100%;
}